<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/common.css">
    <!--<link rel="stylesheet" href="/common-light.css" media="(prefers-color-scheme: light)">-->
    <!--<link rel="stylesheet" href="/common-dark.css" media="(prefers-color-scheme: dark)">-->
    <!--<link rel="icon" href="/icon/myself.svg" type="image/svg+xml">-->
    <link rel="icon" href="/static/icon/favicon.png" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon-180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/static/icon/apple-touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icon/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/static/icon/apple-touch-icon-128.png">
    <link rel="canonical" href="https://bnu120.space{{ request.path }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>
<div id="everything">
    <div id="article">
        <article>
            <div id="markdown">
                <h1> {{ name }} </h1>
                {{ markdown | safe }}
            </div>
        </article>
    </div>
    <div id="footer">
        <footer>
            <div id="sitemap">
                {% for university in universities %}
                    <h3><a href="/{{ university }}" class="subtitle">{{ university.full_name }}</a></h3>
                    <div class="university">
                        {% for category in university.categories %}
                            <div class="category">
                                <h4> {{ category }} </h4>
                                {% for person in university.filter_category(category) %}
                                    <a href="/{{ university }}/{{ category }}/{{ person }}"
                                       title="{{ person }} - {{ university }}{{ category }}">{{ person }}</a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </footer>
        <div id="links">
            <a href="https://github.com/tiangolo/fastapi" title="we use FastAPI for web framework">
                <img src="/static/icon/fastapi.svg" alt="FastAPI">
            </a>
            <a href="https://github.com/pallets/jinja" title="we use Jinja2 to SSR html">
                <img src="/static/icon/jinja.svg" alt="Jinja2">
            </a>
            <a href="https://github.com/trentm/python-markdown2" title="we use python-markdown2 to render markdown">
                <img src="/static/icon/markdown.svg" alt="python-markdown2">
            </a>
            <a href="https://github.com/fullonic/brotli-asgi" title="we use brotli-asgi to support br compression">
                <img src="/static/icon/brotli.svg" alt="brotli-asgi">
            </a>
        </div>
        <a href="https://beian.miit.gov.cn/"> 粤ICP备2022084804号-2 </a>
    </div>
</div>
</body>
{% if not non_preload %}
    <script src="/static/patches.js" defer></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js" defer></script>
    <link rel="stylesheet" href="/static/tooltip.css">
    <div id="tooltip" role="tooltip">
        <div id="tips"></div>
        <div id="arrow" data-popper-arrow></div>
    </div>
{% else %}
    <script>
        for (let h of document.querySelectorAll("#markdown [id]")) h.innerHTML = `<a href="#${h.id}">${h.innerHTML}</a>`
    </script>
{% endif %}
</html>