html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Serif SC", serif;
    overflow-x: hidden;
    background-color: var(--primary-color);
}


* {
    line-height: 1.7em;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 700;
}

p, h6, li, hr, blockquote {
    margin-top: 1em;
    font-weight: 400;
    font-size: 19px;
}

h5 {
    margin-top: 1em;
    font-weight: 500;
    font-size: 22px;
}

h4 {
    margin-top: 1em;
    font-weight: 600;
    font-size: 24px;
}

h3 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 26px;
}

h2 {
    margin-top: 1em;
    font-weight: 900;
    font-size: 28px;
}

h1 {
    font-weight: 900;
    font-size: 30px;
}

/* specials */

blockquote {
    padding-left: 1em;
    padding-right: 1em;
}

blockquote > p:last-child {
    padding-bottom: 1em;
}

ol, ul {
    margin-left: 2em;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

/* layouts */

#article {
    min-height: 100vh;
    letter-spacing: 0.5pt;
}

#article > article {
    padding: calc(min(10%, 7em));
    position: relative;
    height: available;
    width: available;
}

#markdown {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #AF1E24;
}
