html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Serif SC", serif;
    width: 100%;
    overflow-x: hidden;
}

* {
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5pt;
}

strong {
    font-weight: 700;
}

blockquote {
    margin-top: 1em;
}

p, h6, li, hr {
    padding-top: 1em;
    font-weight: 400;
    font-size: 19px;
}

h5 {
    padding-top: 1em;
    font-weight: 500;
    font-size: 22px;
}

h4 {
    padding-top: 1em;
    font-weight: 600;
    font-size: 24px;
}

h3 {
    padding-top: 1em;
    font-weight: 700;
    font-size: 26px;
}

h2 {
    padding-top: 1em;
    font-weight: 900;
    font-size: 28px;
}

h1 {
    font-weight: 900;
    font-size: 30px;
}

/* specials */

blockquote {
    padding-left: 1em;
    padding-right: 1em;
}

blockquote > p:first-child {
    padding-top: 1em;
}

blockquote > p:last-child {
    padding-bottom: 1em;
}

ol, ul {
    margin-left: 2em;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

/* layouts */

li > p {
    padding-top: 0;
}

#everything {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#article > article {
    padding: calc(min(10%, 7em));
    position: relative;
    height: available;
    width: available;
}

#markdown {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#footer {
    position: relative;
}

#footer > footer {
    padding: calc(min(10%, 7em));
}

#sitemap {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-underline-offset: 0.2em;
    text-decoration-thickness: from-font;
}

#article a {
    text-underline-offset: 0.1em;
}

#footer a {
    position: relative;
    min-width: 5.5em;
    display: inline-block;
    text-decoration: none;
    margin-right: 4px;
}

#footer a:hover {
    text-decoration-line: underline;
}

.university > h3, .category > h4 {
    display: block;
}

.university {
    display: flex;
}

@media (orientation: portrait) {
    .university {
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    .university {
        flex-direction: row;
    }
}

code {
    font-family: monospace;
    padding: 0.3em;
    margin: 0.1em;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 0.2em;
}

:root {
    --primary-color: #AF1E24;
}