body {
    background-color: #111;
    color: white;
}

h1, h2, h3, h4, h5, h6, #sitemap > dt {
    color: var(--primary-color);
}

blockquote {
    border-left: solid rgba(255, 255, 255, 0.1) 3pt;
    background-color: rgba(255, 255, 255, 0.03);
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid white 3pt;
    border-radius: 0;
    opacity: 2%;
}

p, li, hr, blockquote {
    font-weight: 200;
}

strong {
    font-weight: 600;
}

#footer {
    background-color: black;
}

#markdown a {
    color: var(--primary-color);
    font-weight: 500;
}

.university a {
    opacity: 70%;
}

.university a:hover {
    opacity: 1;
}