body {
    background-color: #eee;
    color: black;
}

h1, h2, h3, h4, h5, h6, #sitemap > dt {
    color: var(--primary-color);
}

blockquote {
    border-left: solid var(--primary-color) 1pt;
    background-color: rgba(0, 0, 0, 0.03);
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid var(--primary-color) 1pt;
    border-radius: 0;
    opacity: 10%;
}

#everything {
    background-color: white;
}

#footer {
    background-color: #EEE;
}

#markdown a {
    color: var(--primary-color);
    font-weight: 500;
}

.university a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}