<div class="fixed w-10 h-10 right-10 bottom-10 rounded-full grid place-items-center bg-white dark:bg-[#111] hover:bg-$primary-color text-$primary-color hover:text-white shadow-black/10 shadow-md ring-black/5 ring-1.5 hover:ring-$primary-color dark:brightness-300 hover:scale-105 active:scale-95 cursor-pointer transition-all">
    <div class="i-heroicons-ellipsis-vertical-20-solid text-xl"></div>
</div>